*~
.pc
Runtime/src
SpellChecker/hunspell/
UnitTest++/
WebTools/javascript-osx.zip
WebTools/javascript-win.zip
codelitephp/bin/
icons/
make-weekly.bat
patches/
sdk/astyle/
sdk/clang/
sdk/codelite_cppcheck/
sdk/databaselayer/src/sqlite3/
sdk/hunspell/
sdk/libssh/
sdk/lldb/
sdk/src/
sdk/wxconfig/
sdk/wxflatnotebook/
sdk/wxsqlite3/
sqlite3/
