#!/usr/bin/make -f

MAKEFILE := $(firstword $(MAKEFILE_LIST))
DEBIAN_DIR := $(dir $(MAKEFILE))
SOURCE_DIR := $(DEBIAN_DIR)/..
DEB_SOURCE_NAME := $(shell grep ^Source $(DEBIAN_DIR)/control | cut -f2 -d' ')
CURRENT_VERSION = $(shell dpkg-parsechangelog -l$(DEBIAN_DIR)/changelog | \
		sed -n 's/+dfsg-.*$$//; s/^Version: //p')
USCAN = uscan \
			--package=$(DEB_SOURCE_NAME) \
			--watchfile=$(DEBIAN_DIR)/watch \
			--upstream-version=$(CURRENT_VERSION)
VERSION ?= $(shell $(USCAN) --dehs --no-download | \
	sed -n 's/.*<upstream-version>\(.*\)<\/upstream-version>.*/\1/p')

# this is a hack so we can grab everything in /usr/share/codelite for
# codelite while splitting these directories away into separate plugins
override_dh_install:
	dh_install
	cd debian/codelite/usr/share/codelite; \
	rm -rf \
		templates/gizmos \
		templates/projects/UnitTest++ \
		src/unittest*.tar.gz \
		templates/formbuilder

override_dh_auto_clean:
	find -name Makefile ! -wholename '*sdk*' -delete
	rm -f fakeroot/DEBIAN/control

get-orig-source:
	$(USCAN) \
		--download-version=$(VERSION) \
		--destdir=. \
		--force-download \
		--download \
		--rename
	if [ -d $(DEB_SOURCE_NAME)-$(VERSION) ]; then \
		echo "$(DEB_SOURCE_NAME)-$(VERSION) is in the way, bailing out!"; \
		exit 1; \
	fi
	tar -xzf $(DEB_SOURCE_NAME)_$(VERSION).orig.tar.gz
	mv \
		$(DEB_SOURCE_NAME)-$(VERSION) \
		$(DEB_SOURCE_NAME)-$(VERSION)+dfsg
	GZIP=-9fn tar \
		 --exclude=*.dll \
		 --exclude=*.exe \
		 --exclude=sdk/wxsqlite3/sqlite3 \
		 --exclude=sdk/src \
		 --exclude=sdk/wxconfig \
		 --exclude=sdk/astyle \
		 -czf $(DEB_SOURCE_NAME)_$(VERSION)+dfsg.orig.tar.gz \
		 $(DEB_SOURCE_NAME)-$(VERSION)+dfsg
	rm -rf \
		$(DEB_SOURCE_NAME)_$(VERSION).orig.tar.gz \
		$(DEB_SOURCE_NAME)-$(VERSION)+dfsg

%:
	dh --with=quilt $@

.PHONY: get-orig-source
