#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

install/codelite::
	find "$(DEB_SRCDIR)/debian/tmp/usr/share" -type f -exec chmod 0644 '{}' \;

clean::
	find "$(DEB_SRCDIR)" -name Makefile ! -wholename '*sdk*' -delete
	rm -f "$(DEB_SRCDIR)"/fakeroot/DEBIAN/control
